@using Syncfusion.EJ2
@{
    ViewBag.Title = "Dashboard";
}
<style>
    #total-expense {
        display: block !important;
    }
</style>
<div class="control-section">
    <div class="row" style="margin-bottom: 16px;">
        <div class="page-title">
            <div style="display: inline-block">Dashboard</div>
        </div>
        <div class="col-md-3 col-xs-12 col-xl-6 col-lg-3 daterange overview-range-picker">
            <ejs-daterangepicker id="daterangepicker" format="MM/dd/yyyy" allowEdit="false" showClearButton="false" change="onDateRangeChange" endDate="new System.DateTime(2017, 12, 1, 00, 00, 00)" startDate="new System.DateTime(2017, 06, 01, 00, 00, 00)"></ejs-daterangepicker>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-xs-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 card-container">
                <div class="e-card card">
                    <div class="e-card-content">
                        <h3 class="card-value" id="tolincome">$0</h3>
                        <span class="card-text">Income</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 card-container">
                <div class="e-card card">
                    <div class="e-card-content">
                        <h3 class="card-value" id='tolexpense'>$0</h3>
                        <span class="card-text">Expenses</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 card-container">
                <div class="e-card card">
                    <div class="e-card-content">
                        <h3 class="card-value" id="tolbalance">$0</h3>
                        <span class="card-text">Balance</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 card-container">
                <div class="e-card card">
                    <div class="e-card-content">
                        <h3 class="card-value" id="toltransaction">0</h3>
                        <span class="card-text">Transactions</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='pie-chart-container'>
        <div class="row pie-chart" id='totalExpense'>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="pane col-xs-12 col-sm-12 col-md-12 pie-container">
                    <div class="pieChartHeader">
                        <p class="chart-title">Total Expenses</p>
                        <p id="rangeDate" class="chart-value"></p>
                    </div>
                    <div class="row">
                        <div class="pieChart">
                            <ejs-accumulationchart id="total-expense" enableSmartLabels="true" width="100%" height="350px" textRender="textRender" animationComplete="animationComplete">
                                <e-accumulation-series-collection>
                                    <e-accumulation-series xName="text" yName="y" radius="83%" startAngle="0" endAngle="360" innerRadius="50%" palettes="ViewBag.palettes" animation="ViewBag.animation">
                                        <e-accumulationseries-datalabel name="x" visible="true" position="Outside">
                                            <e-connectorstyle length="10%"></e-connectorstyle>
                                            <e-font color="Black" size="14px" fontFamily="Roboto"></e-font>
                                        </e-accumulationseries-datalabel>
                                    </e-accumulation-series>
                                </e-accumulation-series-collection>
                                <e-accumulationchart-legendsettings visible="true"></e-accumulationchart-legendsettings>
                            </ejs-accumulationchart>
                        </div>
                        <div class="chartLegend" style="margin: 0 auto;">
                            <div style="position: relative">
                                <div class="legend-waitingpopup" id="grid-popup" style="display:none">
                                    <span class="legend-image">
                                        <svg class="e-spin-material" viewBox="0 0 30 30">
                                            <path class="e-path-circle" stroke-width="3" d="M15,1.5A13.5,13.5 0 1 1 1.5,15" stroke-dasharray="63.61725123519331" stroke-dashoffset="190.0035236891107"
                                                  transform="rotate(-90 15 15)"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <ejs-grid id="legend-grid" width="100%" rowTemplate="#rowtemplate" load="load" dataBound="dataBound">
                                <e-grid-columns>
                                    <e-grid-column field="color" width="10%" textAlign="Center"></e-grid-column>
                                    <e-grid-column field="text" width="50%"></e-grid-column>
                                    <e-grid-column field="y" width="20%"></e-grid-column>
                                    <e-grid-column field="x" width="20%"></e-grid-column>
                                </e-grid-columns>
                            </ejs-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div class="line-chart-area">
                <div class="col-xs-12 col-sm-6 col-md-6 chart-container">
                    <div class="chart-padding">
                        <div class="line-chart" style="width:100%; max-width: 494px;">
                            <ejs-chart id="balance" useGroupingSeparator="true" margin="ViewBag.margin">
                                <e-chart-primaryxaxis valueType="DateTime" labelFormat="MMM" intervalType="Months">
                                    <e-majorgridlines width="0"></e-majorgridlines>
                                </e-chart-primaryxaxis>
                                <e-chart-primaryyaxis maximum="1800" interval="300" labelFormat="c0"></e-chart-primaryyaxis>
                                <e-chart-chartarea border="ViewBag.chartarea"></e-chart-chartarea>
                                <e-chart-annotations>
                                    <e-chart-annotation content="ViewBag.content" x="75" y="9%" coordinateUnits="Pixel" region="Chart"></e-chart-annotation>
                                </e-chart-annotations>
                                <e-series-collection>
                                    <e-series type="Area" xName="DateTime" width="2" yName="Amount" name="Amount" fill="rgba(4, 112, 216, 0.3)" border="ViewBag.border">
                                        <e-series-marker visible="true" width="10" height="10" fill="white">
                                            <e-marker-border width="2" color="#0470D8"></e-marker-border>
                                        </e-series-marker>
                                    </e-series>
                                </e-series-collection>
                                <e-chart-tooltipsettings fill="#707070" enable="true" shared="true" format="${series.name} : ${point.y}" header="Month - ${point.x} "></e-chart-tooltipsettings>
                                <e-chart-titlestyle textAlignment="Near" fontWeight="500" size="16" color="#000"></e-chart-titlestyle>
                                <e-chart-legendsettings visible="true"></e-chart-legendsettings>
                            </ejs-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-chart-area">
                <div class="col-xs-12 col-sm-6 col-md-6 chart-container">
                    <div class="chart-padding">
                        <ejs-chart id="account-balance" useGroupingSeparator="true" margin="ViewBag.margin">
                            <e-chart-primaryxaxis valueType="DateTime" labelFormat="MMM" edgeLabelPlacement="Shift" intervalType="Months"></e-chart-primaryxaxis>
                            <e-chart-primaryyaxis maximum="9000" minimum="3000" labelFormat="c0"></e-chart-primaryyaxis>
                            <e-chart-annotations>
                                <e-chart-annotation content="ViewBag.accBalancecontent" x="75" y="9%" coordinateUnits="Pixel" region="Chart"></e-chart-annotation>
                            </e-chart-annotations>
                            <e-series-collection>
                                <e-series type="Column" xName="DateTime" width="2" legendShape="Circle" yName="Amount" name="Income" fill="#A16EE5" border="ViewBag.accBalanceborder">
                                    <e-series-marker visible="true" width="10" height="10"></e-series-marker>
                                    <e-series-animation enable="false"></e-series-animation>
                                </e-series>
                                <e-series type="Column" xName="DateTime" width="2" legendShape="Circle" yName="Amount" name="Expense" fill="#4472C4">
                                    <e-series-marker visible="true" width="10" height="10"></e-series-marker>
                                    <e-series-animation enable="false"></e-series-animation>
                                </e-series>
                            </e-series-collection>
                            <e-chart-tooltipsettings fill="#707070" enable="true" shared="true" format="${series.name} : ${point.y}" header="Month - ${point.x} "></e-chart-tooltipsettings>
                        </ejs-chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="row recent-expense-grid">
            <div class="col-xs-6 col-sm-6 col-md-12" style="width:100%">
                <ejs-grid id="recentexpense-grid" allowSorting="true" enableHover="false" allowPaging="false" toolbar="ViewBag.gridToolbar" width="100%">
                    <e-grid-pagesettings pageCount="4" pageSize="14"></e-grid-pagesettings>
                    <e-grid-columns>
                        <e-grid-column field="DateTime" headerText="Date" width="120" format="yMd" hideAtMedia="(min-width: 600px)" template="#dateTemplate"></e-grid-column>
                        <e-grid-column field="Category" headerText="Category" width="170" template="#template"></e-grid-column>
                        <e-grid-column field="PaymentMode" headerText="Payment Mode" width="160" hideAtMedia="(min-width: 600px)"></e-grid-column>
                        <e-grid-column field="Description" headerText="Description" hideAtMedia="(min-width: 1050px)"></e-grid-column>
                        <e-grid-column field="Amount" headerText="Amount" width="120" format="yMd" textAlign="Right" template="#amtTemplate"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            </div>
        </div>
    </div>
    <script id="rowtemplate" type="text/x-template">
        <tr style="height: 30px;">
            <td>
                <div style="width: 16px; height: 16px; margin-left: 1px; border-radius: 16px; background:${color}"></div>
            </td>
            <td> ${text} </td>
            <td> ${getCurrencyVal(data.y)} </td>
            <td style="text-align:right;"> ${x} </td>
        </tr>
    </script>
    <script id="template" type="text/x-template">
        <div class="normalRes">
            <div class="category-icon ${Category}"></div>
            <div class='category-text'>${Category}</div>
        </div>
        <div class="mediumRes">
            <div>
                <div class="category-icon ${Category}"></div>
            </div>
            <div>
                <div> ${Category} </div>
                <div class="description-section"> ${Description} </div>
            </div>
        </div>
        <div class="smallRes">
            <div class='sm-category sm-icon'>
                <div class="category-icon ${Category}"></div>
            </div>
            <div class='sm-category category-content'>
                <div> ${Category} </div>
                <div class="description-section"> ${Description} </div>
                <div> ${PaymentMode} </div>
            </div>
        </div>
    </script>
    <script id="amtTemplate" type="text/x-template">
        <div class="normalRes">
            <div class='amt-payment ${TransactionType}'>
                <span>$</span> <span>${Amount}</span>
            </div>
        </div>
        <div class="mediumRes">
            <div class='amt-payment ${TransactionType}'>
                <span>$</span> <span>${Amount}</span>
            </div>
            <div>${getDate(data.DateTime)}</div>
        </div>
        <div class="smallRes">
            <div class='amt-payment ${TransactionType}'>
                <span>$</span> <span>${Amount}</span>
            </div>
            <div>${getDate(data.DateTime)}</div>
        </div>
    </script>
    <script id="dateTemplate" type="text/x-template">
        ${getDate(data.DateTime)}
    </script>
</div>
<ejs-scripts></ejs-scripts>
@Html.EJS().ScriptManager()

