@using Syncfusion.EJ2
<div id="addexpenseDialog" class="expense-dialog"></div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <span id="menu-toggle" href="#" class="navbar-toggle e-icon" style="float:left"></span>
            <div class="navbar-brand samplenameheader"></div>
            <span id="filter-toggle" href="#" class="navbar-toggle filter-toggle e-icon" style="float:right"></span>
        </div>
    </div>
</nav>
<div>
    <aside id="sidebar-indexdefault">
        <div id="sidebar-wrapper" class="sidebar-toggle">
            <div class='samplename-header'>
                <div class='samplename'></div>
            </div>
            <div class="info align-center">
                <div class="image"></div>
                <div class="content nameContent">
                    <p class='name' id='user-name'>Nicholas Delacruz</p>
                    <div class='wallet-container'>
                        <span style='height: 27px;' class='balance-align'>
                            <img src="./styles/images/cash-wallet.svg" alt="Cash Wallet" />
                        </span>
                        <span id="current-balance" class='balance-align'>$ 0</span>
                    </div>
                </div>
            </div>
            <div class="page-list align-center nav-list">
                <div class='nav-item'>
                    <a class="overview ripple-element" id="nav-overview" href="#/dashboard">Dashboard</a>
                </div>
                <div class='nav-item'>
                    <a class="expense ripple-element" id="nav-expense" href="#/expense">Transactions</a>
                </div>
                <div class='nav-item'>
                    <a class="about ripple-element" id="nav-about" href="#/about">About</a>
                </div>
            </div>
        </div>
    </aside>
</div>
<div id="sidebarRightpane">
    <div class="content container-fluid rightpane">
        <div class="content-wrapper">
            <div id="content" class="tab-contWWWSent">
            </div>
        </div>
    </div>
</div>
<div id="overlay"></div>
<ejs-scripts></ejs-scripts>
@Html.EJS().ScriptManager()
